@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.pageBackground {
  background: linear-gradient(to right, #ffc1d3, #e0c3fc, #bae6fd);
  min-height: 100vh;
  font-family: 'Quicksand', sans-serif;
  padding: 20px;
  color: #222; /* ujisti se, že text zůstane čitelný */
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to right, #ffc1d3, #e0c3fc, #bae6fd);
  color: var(--foreground);
  font-family: 'Quicksand', sans-serif;
}


@media (max-width: 768px) {
  html, body {
    width: 1024px;
    min-width: 1024px;
    overflow-x: auto;
    margin: 0 auto;
  }

  body {
    transform: scale(0.8); 
    transform-origin: top center;
  }
}


* {
  box-sizing: border-box;
}



